useprefix=true
useprefixcands=false
inputDataDirectory=.
burstinessMeasuresDirectory=burstinessMeasures
wikipredir=wiki-minf10-Prefix/output
crawlspredir=crawls-minf10-Prefix/output
usesuffix=true
usesuffixcands=false
wikisufdir=wiki-minf10-Suffix/output
crawlssufdir=crawls-minf10-Suffix/output
byfreq=false
crawlsdir=crawls-minf10/output
wikidir=wiki-minf10/output
frwikiwords=wiki-minf10/output/srcinduct.list
frcrawlswords=crawls-minf10/output/srcinduct.list
dictfile=/nlp/users/shreejit/MTurkDicts/mturk.$LANG$
useLog=true
readData=false
writeData=false
doClassification=true
